<%= form_with model: @boarding_point do |form| %>
  <% if @boarding_point.errors.any? %>
    <div class="card notification is-danger">
      <h2><%= pluralize(@boarding_point.errors.count, "error") %> prohibited this Boarding Point from being saved:</h2>
      <ul>
        <% @boarding_point.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %><br>
  </div>
  <br>
  <div>
    <%= form.submit %>
  </div>
<% end %>
