<h1 class="has-text-centered is-size-3">Hello <%=@user.first_name%></h1>

<h5> Your Tickets</h5>
<br>

<% for ticket in @tickets  do%>
<div class="card">
  <div class="card-content">
    <div class="columns">
      <div class="column">
          <b>Ticket ID: </b> <%=ticket&.id || "N/A"%>
      </div>
      <div class="column"> 
        Date: <%=ticket&.trip&.date || "N/A"%>
      </div>
      <div class="column"> 
        <b>Time: <%=ticket&.trip&.time&.strftime("%I:%M%p") || "N/A"%></b>
      </div>
    </div>
    <div class="columns">
      <div class="column is-one-third">
        <b>Bus Code: </b><td><%=ticket&.trip&.bus&.code || "N/A"%></td>
      </div>
      <div class="column">
        <b>Route:</b> <%=ticket&.trip&.route&.full_name || "N/A"%>
      </div>
    </div>
    <div class="columns">
    <div class="column is-one-third">
      <b>Boarding Point : </b>
      <%=ticket&.boarding.boarding_point.name || "N/A"%>
    </div>

        <div class="column">
      <b>Seats : </b>
      <%=ticket&.seats.map {|seat| seat&.code } || "N/A"%>
    </div>
    </div>

    <div class="columns">
    <div class="column">
    <b>Total Fare: <%=ticket&.total_fare%></td></b>
    </div>
    
    </div>
    
    
    
    
  </div>
</div>
<br>

<%end%>
