<div class="card has-background-grey-lighter	">
  <div class="card-content">
    <div class="content">
      <%= form_with url:search_path ,method: :get do |f| %>
        <div class="field is-grouped is-grouped-multiline columns">
          <div class="select is-multiple column">
            <%= f.label :source, class: "label" %>
            <%= f.select :source, options_from_collection_for_select(@sources, "source", "source", params[:source]),{prompt: "Select"},{onchange: "this.form.submit()" }%>
          </div>

          <div class="select is-multiple column">
            <%= f.label :destination, class: "label" %>
            <%= f.select :destination, options_from_collection_for_select(@destinations, "destination", "destination", params[:destination]),{prompt: "Select"},{onchange: "this.form.submit()",class: 'form-control' } %>
          </div>     
               
          <div class="is-multiple column">
            <%= f.label :date, class: "label"  %>
            <%= f.date_field :date,{min: Date.today , :value => Time.now.strftime(params[:date]|| Date.today.to_s) ,onchange: "this.form.submit()",class: 'form-control'}%>
          </div>  
        </div>
      <% end %>
    </div>
  </div>
</div>


<br>


<% for trip in @trips  do%>
<div class="card">
  <div class="card-content">
    <div class="columns">
      <div class="column">
          <b>ID: </b> <%=trip.id%>
      </div>
      <div class="column"> 
        Date: <%=trip&.date||"N/A"%>
      </div>
      <div class="column"> 
        <b>Time: <%=trip&.time.strftime("%I:%M %P")||"N/A"%></b>
      </div>
    </div>
    <div class="columns">
      <div class="column is-one-third">
        <b>Bus Code: </b><%=trip&.bus&.code||"N/A"%>
      </div>
      <div class="column is-one-third">
        <b>Bus Type: </b><%=trip&.bus&.bus_type||"N/A"%>
      </div>
      <div class="column">
        <b>Route:</b> <%=trip&.route&.full_name ||"N/A"%>
      </div>
    </div>
    <div class="columns">
    <div class="column">
      <b>Boarding Points : </b>
      <% for boarding in trip&.boardings  do%>
      <%= boarding.boarding_point.name %> ,
      <%end%>
    </div>
    </div>

    <div class="columns">
    <div class="column">
    <b>Ticket Price: <%=trip&.ticket_price||"N/A"%></b>
    </div>
    <div class="column has-text-right"><%= link_to "Buy Ticket", book_seats_path(trip), class: "button is-primary" %></div>
    
    </div>
    
    
    
    
  </div>
</div>
<br>

<%end%>
