<%= form_with model: @route do |form| %>
  <div>
    <%= form.label :source %><br>
    <%= form.text_field :source %>
    <% @route.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <div>
    <%= form.label :destination %><br>
    <%= form.text_field :destination %><br>
    <% @route.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <br>
  <div>
    <%= form.submit %>
  </div>
<% end %>
