<h1>All Buses</h1>
<nav>
  <%= link_to "Add Bus", new_bus_path%>
</nav>
<br>
<table border="1">
  <tr>
    <th><%= sortable_column_header 'ID', 'id' %></th>
    <th><%= sortable_column_header 'Code', 'code' %></th>
    <th><%= sortable_column_header 'Company', 'company' %></th>
    <th><%= sortable_column_header 'Type', 'bus_type' %></th>
    <th><%= sortable_column_header 'Capacity', 'capacity' %></th>
    <th colspan=2>Action</th>
  </tr>
  <% for bus in @buses  do%>
    <tr>
      <td><%= bus.id %></td>
      <td><%= bus.code %></td>
      <td><%= bus.company %></td>
      <td><%= bus.bus_type %></td>
      <td><%= bus.capacity %></td>
      <td><%= link_to "Edit", edit_bus_path(bus) %></td>
      <td><%= link_to "Delete", bus_path(bus),data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  }%>
      </td>
    </tr>
  <%end%>
</table>
